@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap);

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    font-family: "Raleway", sans-serif;
    font-size: $font-sm;

    display: flex;
    flex-direction: column;
    justify-content: center;

    // debug
    border: 1px solid black;
}

.container {
    margin: 0 auto;
    width: toRem(380px);

    // debug
    border: 1px solid red;
}