@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap);

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    font-family: "Raleway", sans-serif;
    font-size: $font-sm;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    // display: grid;
    // place-content: center;

    background-image: url(../../images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $veryDarkBlue;

    @include breakpoint-up(xlarge) {
        background-image: url(../../images/bg-desktop.png);
        background-size: 100% 50%;
        background-position: bottom;
    }
}

.container {
    // margin: 0 auto;
    // width: toRem(380px);
    max-width: toRem(380px);
    // width: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;

    @include breakpoint-up(medium) {
        flex-grow: 1;
        max-width: 70%;
    }

    @include breakpoint-up(xlarge) {
        flex-direction: row;
        max-width: toRem(922px);
        align-items: flex-end;
    }
}