$margin-top: 16px;
$padding-top: 36px;
$padding: 32px;

$bar-height: 20px;
$emphasis-bubble-arrow: 24px;

.info {
    color: $paleBlue;
    background-color: $darkBlue;
    border-radius: toRem($border-radius);
    
    padding: toRem($padding);
    padding-top: toRem($padding-top);
    margin-top: toRem($margin-top);
    width: toRem($mb-content-width);

    @include breakpoint-up(medium) {
        flex-grow: 1;
        width: 84%;
    }

    @include breakpoint-up(xlarge) {
        margin-top: 0px;
        margin-left: toRem(30px);
        flex-grow: 1;
    }


    &__text {
        text-align: center;
        font-size: $font-xsm;
        margin-bottom: toRem(20px);

        @include breakpoint-up(xlarge) {
            text-align: left;
        }

        span {
            font-weight: 700;
            font-size: $font-sm;
        }
    }


    &__progress {
        position: relative;

        .progress__bar {
            background-color: $veryDarkBlue;
            height: toRem($bar-height);
            border-radius: $border-radius;
            margin-bottom: toRem(12px);
            padding: toRem(3px);


            .bar__progress-indicator {
                position: relative;
                background-image: $linear-gradient;
                height: 100%;
                width: 80%;
                border-radius: toRem($border-radius);
                // padding: toRem(2px);

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    background-color: $paleBlue;
                    height: toRem(12px);
                    width: toRem(12px);
                    border-radius: 50%;
                    right: toRem(3px);
                    top: toRem(1px);

                }
            }
        }

        .progress__limits {
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            margin-bottom: toRem(10px);

            @include breakpoint-up(xlarge) {
                margin-bottom: 0px;
            }
        }

        .progress__emphasize {
            position: absolute;
            font-size: $font-xxlg;
            color: $veryDarkBlue;
            font-weight: 700;
            background-color: white;
            border-radius: toRem($border-radius);
            padding: toRem(16px) toRem(26px);
            left: 50%;
            transform: translate(-50%);
            width: max-content;
            display: flex;
            align-items: center;

            @include breakpoint-up(xlarge) {
                left: 100%;
                transform: translate(-100%);
                top: calc(calc(#{toRem(60px)} + 100%) * (-1));
            }

            &::after {

                @include breakpoint-up(xlarge) {
                    content: "";
                    position: absolute;
                    border-top: toRem($emphasis-bubble-arrow) solid transparent;
                    border-right: toRem($emphasis-bubble-arrow) solid white;
                    border-bottom: toRem($emphasis-bubble-arrow) solid transparent;
                    right: 0px;
                    top: calc(100% - #{$emphasis-bubble-arrow});
                }
            }

            span {

                &:first-child {
                    line-height: normal;
                }

                &:last-child {
                    font-size: $font-xxsm;
                    color: $grayishBlue;
                    text-transform: uppercase;
                    letter-spacing: toRem(2px);
                    margin-left: toRem(8px);
                }

            }
        }
    }
}