// === Width ===

$width-mb: 23.4375rem; //375px
$width-desk: 90rem; // 1440px;


// === Fonts ===
$font-xxxsm: 0.625rem; //10px
$font-xxsm: 0.75rem; // 12px
$font-xsm: 0.875rem; // 14px
$font-sm: 1rem; // 16px
$font-md: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 1.5rem; // 24px
$font-xxlg: 2rem; // 32px
$font-xxxlg: 2.5rem; // 40px
$font-xxxxlg: 3rem; // 48px
$font-xxxxxlg: 4rem; // 60px


// === Colors ===

// Primary
$linear-gradient: linear-gradient(135deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));


// Neutral
$paleBlue: hsl(243, 100%, 93%);
$grayishBlue: hsl(229, 7%, 55%);
$darkBlue: hsl(228, 56%, 26%);
$veryDarkBlue: hsl(229, 57%, 11%);
